{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid text-page-container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="text-subheading text-green my-4">About Us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-bulk text-green">EcoRoots is more than an online shop; it's a commitment to sustainable living.</p>
                <p class="text-bulk text-green">Living a sustainable lifestyle is a powerful choice that reverberates beyond individual
                    actions, shaping the future of our planet. By embracing practices that prioritize environmental well-being, such as
                    reducing waste, choosing renewable resources, and supporting eco-friendly products, we contribute to a collective
                    effort for a healthier Earth. Adopting sustainable habits in our daily lives not only minimises our ecological
                    footprint but also fosters a sense of responsibility and connection to the environment. From conscious consumption
                    to mindful waste management, each sustainable decision becomes a catalyst for positive change, paving the way
                    for a greener, more harmonious coexistence between humanity and the planet we call home.</p>
                <p class="text-bulk text-green">The journey towards a sustainable lifestyle is a transformative and purposeful endeavor,
                    aligning personal choices with a profound commitment to the well-being of our global ecosystems.</p>
                <p class="text-bulk text-green font-weight-bold mt-4">Our Mission</p>
                <p class="text-bulk text-green">Our mission is to empower individuals to make mindful choices for a greener future.</p>
                <p class="text-bulk text-green font-weight-bold mt-4">Our Products</p>
                <p class="text-bulk text-green">At EcoRoots, we curate a thoughtfully selected range of eco-friendly products, from
                    zero-waste essentials to consciously crafted goods. All our products are sourced from suppliers within the UK and
                    fall under at least one of these categories: Organic, Natural, Sustainable, Zero-Waste, Handmade, Vegan. Join us
                    on the journey towards sustainability and discover the world of eco-conscious living at EcoRoots - where every
                    purchase makes a positive impact on the planet.</p>
                <p class="text-bulk text-green font-weight-bold mt-4">Our Packaging</p>
                <p class="text-bulk text-green">In line with our values, we strive to use the most sustainable packaging available.
                    We aim to offer products that come in plastic free and eco-friendly packaging but we cannot always control our
                    suppliers packaging. However, we ensure all orders are delivered in eco-friendly, plastic-free packaging. Typically,
                    our packaging will consist of one or more of the following elements:</p>
                <p class="text-bulk text-green"><strong>Mailer:</strong> We use 100% compostable mailers made from a combination of biodegradable polymers
                    and polyester from renewable biomass. They can be re-used or composted and disappear in 6 months.</p>
                <p class="text-bulk text-green"><strong>Tissue Paper:</strong> Some items are delivered wrapped in tissue paper for more protection, this
                    paper is made from recycled materials, acid free and FSC certified.</p>
                <p class="text-bulk text-green"><strong>Boxes:</strong> Our boxes are completely recyclable. However, we encourage you to keep them to reduce
                    waste. They can be reused for a variety of purposes. The tape used on our boxes is recyclable and made from an
                    environmentally friendly paper based formula.</p>
                <p class="text-bulk text-green mb-5"><strong>Labels:</strong> The labels in our packaging are 100% made from post consumer waste paper and
                    completely biodegradable.</p>
            </div>
        </div>
    </div>
{% endblock %}