{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid h-30 header-container index-header">
        <div class="row h-30">
            <div class="col-12">
                <h1 class="logo-font text-center text-green">Welcome to EcoRoots</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container index-content">
        <p class="text-center text-green text-subheading">New Arrivals</p>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3"></div>
            <div class="col-sm-6 col-md-4 col-lg-3"></div>
            <div class="col-sm-6 col-md-4 col-lg-3"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 d-md-none d-lg-block"></div>
        </div>
        <hr>
        <p class="text-center text-green text-subheading">Bundles</p>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3"></div>
            <div class="col-sm-6 col-md-4 col-lg-3"></div>
            <div class="col-sm-6 col-md-4 col-lg-3"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 d-md-none d-lg-block"></div>
        </div>
    </div>
{% endblock %}