{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid text-page-container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="text-subheading text-green my-4">Privacy Policy</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-bulk text-green">This Privacy Policy describes how EcoRoots ("we," "our," or "us") collects, uses,
                    and shares personal information when you use our website eco-roots.com (the "Site").</p>
                <p class="text-bulk text-green font-weight-bold mt-4">Information We Collect:</p>
                <p class="text-bulk-sm text-green"><strong>Personal Information:</strong> Name, contact details, shipping address, and payment
                    information for order processing.</p>
                <p class="text-bulk-sm text-green"><strong>Device Information:</strong> IP address, browser type, and device characteristics for
                    analytics and security purposes.</p>
                <p class="text-bulk text-green font-weight-bold mt-4">How We Use Your Information:</p>
                <p class="text-bulk-sm text-green"><strong>Order Fulfillment:</strong> Process and ship orders, send order confirmations, and provide
                    customer support.</p>
                <p class="text-bulk-sm text-green"><strong>Website Improvement:</strong> Analyze website performance, enhance user experience, and
                    optimize our services.</p>
                <p class="text-bulk text-green font-weight-bold mt-4">Information Sharing:</p>
                <p class="text-bulk-sm text-green"><strong>Trusted Partners:</strong> Share information with trusted third-party service providers for
                    order fulfillment, payment processing, and analytics.</p>
                <p class="text-bulk-sm text-green"><strong>Legal Compliance:</strong> Comply with applicable laws, regulations, or legal requests.</p>
                <p class="text-bulk text-green font-weight-bold mt-4">Your Choices:</p>
                <p class="text-bulk-sm text-green"><strong>Opt-Out:</strong> You can opt-out of marketing communications by following the instructions
                    in emails or contacting us directly.</p>
                <p class="text-bulk text-green font-weight-bold mt-4">Security:</p>
                <p class="text-bulk-sm text-green">We implement security measures to protect your personal information, but no method
                    of transmission over the internet is 100% secure.</p>
                <p class="text-bulk text-green font-weight-bold mt-4">Updates to Privacy Policy:</p>
                <p class="text-bulk-sm text-green">We may update this Privacy Policy to reflect changes in our practices or for other
                    operational, legal, or regulatory reasons.  This Privacy Policy was last updated on 24th January 2024.</p>
                <p class="text-bulk text-green font-weight-bold mt-4">Contact Us:</p>  
                <p class="text-bulk-sm text-green mb-5">For any questions or concerns about our Privacy Policy, please contact us at
                    <strong>info@eco-roots.com.</strong></p>
            </div>
        </div>
    </div>
{% endblock %}