{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-subheading text-green my-4">My Profile</h2>
                <p class="text-bulk text-uppercase">Welcome Back {{ user }}</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-lg-8">
                <p class="text-bulk-sm">Order History</p>
                <hr>
                <div class="order-history table-responsive">
                    <table class="table table-sm table borderless">
                        <thead>
                            <tr>
                                <th class="text-bulk-sm text-green">Order Number</th>
                                <th class="text-bulk-sm text-green">Date</th>
                                <th class="text-bulk-sm text-green">Items</th>
                                <th class="text-bulk-sm text-green">Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">{{ order.order_number|truncatechars:10 }}</a>
                                    </td>
                                    <td class="text-bulk-sm text-green">{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled text-bulk-sm text-green">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">{{ item.product.name }} x{{ item.quantity }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td class="text-bulk-sm text-green">£{{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <p class="text-bulk-sm">Default Delivery Information</p>
                <hr>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form" class="mt-3">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn detail-btn float-right text-uppercase">Update Information</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-bulk-sm mt-4">Account Details</p>
                <hr>
                <p class="text-bulk-sm"><strong>Username:</strong> {{ user }}</p>
                <p class="text-bulk-sm"><strong>Email:</strong> {{ user.email }}</p>
            </div>
        </div>
    </div>
{% endblock %}