html {
    height: 100%;
}

body {
    height: calc(100vh - 128px);
}

/* ------------------------------------------------------ Fonts */

.logo {
    text-align: center;
}

.logo-font {
    font-family: 'Istok Web', sans-serif;
    color: #fff;
}

.logo-font:hover {
    color: #2E4013;
}

.text-grey,
.text-grey-nav {
    color: #D9D9D9;
    font-family: 'Duru Sans', sans-serif;
}

.text-grey:hover {
    color: #778C68;
}

.text-grey-nav:hover {
    color: #2E4013;
}

.text-info {
    color: #2E4013;
}

.text-green {
    color: #2E4013;
}

.text-light-green {
    color: #778C68;
}

.text-bulk {
    font-family: 'Duru Sans', sans-serif;
    color: #2E4013;
}

.text-bulk-sm {
    font-family: 'Duru Sans', sans-serif;
    color: #2E4013;
    font-size: 14px;
}

.text-subheading {
    font-family: 'Kite One', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

/* ----------------------------------------------------- Navbar */

#topnav {
    height: 72px;
    background-color: #778C68;
}

.main-nav {
    height: 56px;
}

.dropdown-item {
    font-family: 'Duru Sans', sans-serif;
    color: #2E4013;
}

.search-btn,
.subscribe-btn,
.qty-btn,
.detail-btn {
    background-color: #2E4013;
    color: #fff;
    font-family: 'Duru Sans', sans-serif;
}

.keep-shopping-btn,
.review-btn {
    background-color: #778C68;
    color: #fff;
    font-family: 'Duru Sans', sans-serif;
}

.search-btn:hover,
.subscribe-btn:hover,
.qty-btn:hover,
.detail-btn:hover {
    color: #778C68;
}

.keep-shopping-btn:hover,
.review-btn:hover {
    color: #2E4013;
}

.basket-nav:hover {
    color: #591D0F;
}

.topnav-btns {
    padding-right: 0;
    padding-left: 0;
}

.navbar-toggler {
    color: #D9D9D9;
    margin-top: 10px;
}

.navbar-toggler:hover {
    color: #2E4013;
}

.bg-olive {
    background-color: #2E4013;
}

.bg-green {
    background-color: #778C68;
}

.mobile-nav-list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0px 25px;
    padding: 0;
}

.mobile-nav-list-items {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
}

/* ----------------------------------------------------- Header */

.header-container {
    height: 128px;
}

/* ------------------------------------------------------ Index */

.index-header {
    background: url('/media/index_header.jpg') no-repeat center top fixed;
    background-size: cover;
    height: 250px;
}

.mt-6 {
    margin-top: 101px;
}

/* --------------------------------------------------- Products */

.mx-6 {
    margin-left: 5%;
    margin-right: 5%;
}

.small-link {
    color: #778C68;
}

.small-link:hover {
    color: #2E4013;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-black {
    color: #000 !important;
}

.border-green {
    border: 1px solid #2E4013 !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #778C68;
}

.btt-button:hover {
    background-color: #2E4013;
}

.btt-icon {
    color: #D9D9D9;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* -------------------------------- Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ----------------------------------------------------- Footer */

footer {
    background-color: #778C68;
}

.logo-font-footer {
    font-family: 'Istok Web', sans-serif;
    color: #fff;
}

.link-footer {
    font-family: 'Duru Sans', sans-serif;
    color: #2E4013;
    font-size: 14px;
}

.link-footer:hover {
    color: #591D0F;
}

/* ----------------------------------------------- Allauth Form */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #2E4013;
}

.allauth-form-inner-content input {
    border-color: #778C68;
    border-radius: 0.25rem;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #2E4013;
}

/* ----------------------------------------------------- Forms */

.form-group label {
    font-family: 'Duru Sans', sans-serif;
    color: #2E4013;
}

.borderless th,
.borderless tr {
    border: none;
}

/* ---------------------------------------------- Media Queries */

@media (max-width: 992px) {
    .logo {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .mx-6 {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width: 1200px) {
    .mx-6 {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (min-width: 1600px) {
    .products-container {
        width: 70%;
        margin-left: 15%;
    }
}