html {
    height: 100%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: 'Istok Web', sans-serif;
}

.logo-font:hover {
    color: #2E4013;
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

#topnav {
    background-color: #778C68;
}

.text-grey,
.text-grey-nav {
    color: #D9D9D9;
    font-family: 'Duru Sans', sans-serif;
}

.text-grey:hover {
    color: #778C68;
}

.text-grey-nav:hover {
    color: #2E4013;
}

.bg-olive {
    background-color: #2E4013;
}

.header-container {
    margin-top: 136px;
}

.index-header {
    background: url('/media/index_header.jpg') no-repeat center top fixed;
    background-size: cover;
    height: 250px;
}

.index-content {
    margin-top: 10px;
}

.text-green {
    color: #2E4013;
}

.text-subheading {
    font-family: 'Kite One', sans-serif;
    text-transform: uppercase;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}