html {
    height: 100%;
}

body {
    height: calc(100vh - 128px);
}

/* ------------------------------------------------------ Fonts */

.logo {
    text-align: center;
}

.logo-font {
    font-family: 'Istok Web', sans-serif;
    color: #fff;
}

.logo-font:hover {
    color: #2E4013;
}

.text-grey,
.text-grey-nav {
    color: #D9D9D9;
    font-family: 'Duru Sans', sans-serif;
}

.text-grey:hover {
    color: #778C68;
}

.text-grey-nav:hover {
    color: #2E4013;
}

.text-info {
    color: #2E4013;
}

.text-green {
    color: #2E4013;
}

.text-light-green {
    color: #778C68;
}

.text-bulk {
    font-family: 'Duru Sans', sans-serif;
    color: #2E4013;
}

.text-bulk-sm {
    font-family: 'Duru Sans', sans-serif;
    color: #2E4013;
    font-size: 14px;
}

/* ----------------------------------------------------- Navbar */

#topnav {
    height: 72px;
    background-color: #778C68;
}

.main-nav {
    height: 56px;
}

.dropdown-item {
    font-family: 'Duru Sans', sans-serif;
    color: #2E4013;
}

.search-btn {
    background-color: #2E4013;
    border: #2E4013;
    color: #fff;
    font-family: 'Duru Sans', sans-serif;
}

.search-btn:hover {
    color: #778C68;
}

.basket-nav:hover {
    color: #591D0F;
}

.topnav-btns {
    padding-right: 0;
    padding-left: 0;
}

.navbar-toggler {
    color: #D9D9D9;
    text-align: right;
}

.navbar-toggler:hover {
    color: #2E4013;
}

.bg-olive {
    background-color: #2E4013;
}

/* ----------------------------------------------------- Header */

.header-container {
    height: 128px;
}

/* ------------------------------------------------------ Index */

.index-header {
    background: url('/media/index_header.jpg') no-repeat center top fixed;
    background-size: cover;
    height: 250px;
}

.mt-6 {
    margin-top: 101px;
}

.text-subheading {
    font-family: 'Kite One', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-black {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/* -------------------------------- Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ----------------------------------------------------- Footer */

footer {
    background-color: #778C68;
}

.logo-font-footer {
    font-family: 'Istok Web', sans-serif;
    color: #fff;
}

.link-footer {
    font-family: 'Duru Sans', sans-serif;
    color: #2E4013;
    font-size: 14px;
}

.link-footer:hover {
    color: #591D0F;
}

/* ---------------------------------------------- Media Queries */

@media (max-width: 992px) {
    .logo {
        text-align: left;
    }
}