{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <h2 class="text-subheading text-green my-4">Product Management</h2>
                <p class="text-bulk text-uppercase">Edit a Product</p>
                <hr>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-right">
                        <a href="{% url 'product_detail' product.id %}" class="btn review-btn">Cancel</a>
                        <button class="btn detail-btn" type="submit">Update Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}